#container{
    display: grid;
    height: 150vh;
    grid-template-areas: 
    'nv nv nv nv '
    'sec sec sec sec'
    'sec sec sec sec'
    'sec sec sec sec'
    'sec sec sec sec';

    margin: auto;
    grid-template-rows: 0.5fr 1fr 1fr 1fr 1fr; 
    gap: 1px;

}


nav{
    grid-area: nv;
    background-color: antiquewhite;
}

section{
    grid-area: sec;
    
}

.nav{
    border: 2px;
    display: flex;
    align-items: stretch;
    font-size: 23px;
    color: rgb(0, 0, 0);
}

.nav div{
   width: 300px;
   height: 10
   px;
   background-color: antiquewhite;
   text-align: center;
   line-height: 100px;
}

#bakgrund {
    background-image: url('../img/Bakgrund.jpeg');
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

h1 {
    font-size:80px;
    text-align: left;
}

h2 {
    font-size: 30px;
    text-align: left;
}



#sushi {
    width: 600px;
    height: 600px; 
}

#sida2 {
    background-color: #e67e22;
}