#container{
    display: grid;
    height: 150vh;
    grid-template-areas: 
    'nv nv nv nv '
    'sec sec sec sec'
    'sec sec sec sec'
    'sec sec sec sec'
    'sec sec sec sec';

    margin: auto;
    grid-template-rows: 0.5fr 1fr 1fr 1fr 1fr; 
    gap: 1px;

}


nav{
    grid-area: nv;
    background-color: blue;
}

section{
    grid-area: sec;
    
}

.nav{
    border: 2px;
    display: flex;
    align-items: stretch;
    font-size: 23px;
    color: rgb(0, 0, 0);
}

.nav div{
   width: 300px;
   height: 100px;
   background-color: antiquewhite;
   text-align: center;
   line-height: 100px;
}